@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Bebas+Neue&family=Encode+Sans+SC&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', sans-serif;    
}

html {
    scroll-behavior: smooth;
}

body {
    border-width: 0;
    background-color: #111;
}


h1, h2, h3, p, li{
    color:#fff;
    text-decoration: none;
}

a{
    color:#fff;
    text-decoration: none;
    font-family: 'Encode Sans SC';
    font-weight: 700;
}

h1, h2{
    font-family: 'Bebas Neue';
    text-transform: uppercase;
    letter-spacing: 3px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
    align-items: center;
    transition: 0.5s;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 15px;
}

.nav-links li a{
    transition: 0.5s to ease 0s;
    text-transform: uppercase;
}


.cover {
    margin: 0;
    padding: 0;
    background-image:url(img/sushi1.jpg);
    min-height: 900px;
    width: 100vw;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.cover1 {
    background-image: url(img/sushi2.jpg);
    min-height: 500px;
    width: 100vw;
    object-fit:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.cover2 {
    background-image: url(img/rice.jpg);
    min-height: 400px;
    width: 100vw;
    background-attachment: fixed;
}

.section-dark {
    padding: 150px;
}

.section-dark-text {
    text-align: center;
}

.section-dark h3 {
    color:#fff;
    padding: 10px;
}
.cover-text {
    position: absolute;
    top: 50%;
    left: 40px;
    font-size: xx-large;
}

.cover-text h3, .cover-text p {
    color:#fff;
    text-shadow: 1px 2px rgb(82, 68, 68);
    max-width: 700px;
}

.section-light {
    margin: 0;
    text-align: center;
    background-color: #fff;
}

.section-light h2, .section-light h3, .section-light li, .section-light p {
    color:#111;
}

.section-light ul{
    list-style: none;
    text-align: justify;
    padding-bottom: 20px;
    padding-left: 48%;
}

.section-light li{
    padding-bottom: 5px;
}

.section-light h2 {
    font-size: 40px;
    padding: 30px;
}

.section-light h3 {
    padding-bottom: 10px;
}

.section-light p {
    text-align: justify;
    padding: 10px;
    padding-bottom: 3em;
    max-width: 700px;
    margin: 0 auto;
}

button {
    background-color: #111;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    padding: 30px 20px;
    margin-bottom: 40px;
    cursor: pointer;
}

button:hover {
    background-color:rgba(117, 117, 117, 0.5);
    color: #111;
    transition: 0.5s;
}

.grid {
    padding: 40px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
} 

#map {
    height: 200px;
    width: 250px;
    margin-top: 20px;
    margin-left: auto; 
    margin-right: auto;
}

@media (max-width: 798px){
    header {
        padding: 0;
        float: none;
        display: block;
        justify-content: center;
        transition: 0.5s;
   }

    .logo {
        margin: 50px;
        text-align: center;
        font-size: 4em;
    }

    .nav-links li {
        float: none;
        display: block;
        justify-content: center;
        text-align: center;
        padding: 10px;
    }

    .nav-links li:nth-last-child(1){
        padding-bottom: 40px;
    }

    .cover-text {
        position: relative;
        padding: 40px;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .grid-item{
        transform: scale(0.75, 0.75);
    -ms-transform: scale(0.75, 0.75);
    -webkit-transform: scale(0.75, 0.75);
        justify-content: center;
    }

    .section-dark p{
        padding-left: 0;
    }

}

@media (min-width:2560px) {
    .cover {
        background-image:url(img/sushi1-1.jpg);
        min-height: 1200px;
    }

    .cover1{
        background-image:url(img/sushi2-1.jpg);
    }
}
